{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color:rgb(50, 125, 178);
    margin: auto -16px;
    padding: 5px 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

header h1 {
    color:rgb(15, 35, 85);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-weight: 500;
}

form.add-note{
    position:sticky;
    width:fit-content;
    margin: 40px auto 10px auto;
    background:rgb(255, 254, 255);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

form.add-note input,
form.add-note textarea {
    width: 100%;
    border:none;
    padding: 2px;
    outline: none;
    font-size: 1em;
    font-family: inherit;
    resize: none;
    
}

form.add-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: rgb(97, 162, 178);
    color: #0f0e0e;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
}

footer {
    position:absolute;
    text-align: center;
    bottom: 0;
    width: 100px;
    height: 2 rem;
}

footer p {
    color:rgb(50, 125, 178)
}

.note {
    background: aliceblue;
    border-radius: 7px;
    box-shadow:  0 2px 5px rgb(255, 254, 255);
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1em;
    margin-bottom: 5px;
}

.note p {
    font-size: 1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: rgb(217, 7, 7);
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    outline: none;
}
